{
    "presets": [
      "@babel/preset-env"
    ],
    "plugins": [
      ["module-resolver", {
        "alias": {
          "#constants": "./src/constants",
          "#models": "./src/models",
          "#parents": "./src/models/parents",
          "#api": "./src/api",
          "#lib": "./src/lib"
        }
      }]
    ]
  }